:root {
  --navDisplay: initial;
  --pageNumDisplay: initial;
  --colorBackground: #000;
  --color4: rgba(255, 255, 255, 0.342);
  --connectButtonDisplay: none;
  --sentenceConnectButtonDisplay: none;
  /* common */
  --textBoxDisplay: initial;
  --textBoxBorderHoverColor: rgba(237, 28, 36, 0.5);
  --textBoxFontSize: 1em;
  --textBoxFontWeight: normal;
  --color1: #f9f9fb;
  --color2: #e2e2e9;
  --color3: #071013;
  --color3a: rgba(7, 16, 19, 0.3);
}

#pagesContainer {
  flex-direction: row;
}

.page {
  display: none;
  margin: 0 -1px 0 0;
}

.btn {
  bottom: 5px;
  position: fixed;
  background-color: var(--colorBackground);
  border: none;
  color: var(--color4);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  width: 150px;
}

#forward {
  display: var(--navDisplay);
  right: 5px;
}

#back {
  display: var(--navDisplay);
  left: 5px;
}

#page-num {
  display: var(--pageNumDisplay);
  left: 50%;
  bottom: 18px;
  position: fixed;
  color: var(--color4);
  font-size: x-large;
  font-family: 'Noto Sans JP', 'Meiryo', 'MS Gothic', sans-serif;
  transform: translate(-50%, 0);
  z-index: 10;
}
