:root {
  --connectButtonDisplay: inline-block
  --colorBackground: #c4c3d0;
  /* common */
  --textBoxDisplay: initial;
  --textBoxBorderHoverColor: rgba(237, 28, 36, 0.5);
  --textBoxFontSize: 1em;
  --textBoxFontWeight: normal;
  --color1: #f9f9fb;
  --color2: #e2e2e9;
  --color3: #071013;
  --color3a: rgba(7, 16, 19, 0.3);
}

#pagesContainer {
  display: inline-flex;
  flex-direction: row;
  overflow: visible;
}

.page {
  display: none;
  float: left;
  margin: 0 -1px 0 0;
}

#leftAPage,
#rightAPage,
#leftAScreen,
#rightAScreen {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
}

#leftAPage,
#rightAPage {
  /*display: inline-block;*/
  display: none;
  position: absolute;
  top: -5%;
  width: 10%;
  height: 110%;
}

#leftAPage {
  left: -7%;
}

#rightAPage {
  right: -7%;
}

#leftAScreen,
#rightAScreen {
  display: inline-block;
  position: fixed;
  top: 10vh;
  width: 5vw;
  height: 90vh;
}

#leftAScreen {
  left: 0;
}

#rightAScreen {
  right: 0;
}

.connect-button {
  opacity: 0;
}